$primary: #F26321; // Main color, for important buttons like "Submit."
$secondary: #005F73; // Used for less important buttons or links like "Learn More."
$accent: #9C27B0; // Used to grab attention, like on "New!" badges.

$dark: #333333; // Text color for main content, like paragraphs or titles.
$dark-page: #1a1a1a; // Background color for dark mode pages.

$positive: #198c6a; // For success messages, like "Saved successfully."
$negative: #da3041; // For error messages, like "Something went wrong."
$info: #ff8d68; // For neutral info, like "Update available."
$warning: #ffcf52; // For warnings, like "Low battery."
